{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
{% load socialaccount %}

<h1>Login</h1>
<br/><br/>

<style>
    a {
        display: block;

    }
</style>


<div class="form-group">
    <a href="{% provider_login_url "google" openid="https://www.google.com/accounts/o8/id" next="/" %}">Google</a>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    

  
    <button class="btn btn-secondary" >Login</button>
</div>


{% endblock %}