{% extends 'base.html' %}
{% block title %} Logout {% endblock %}

{% block content %}


<h1>Logout</h1>
<br/><br/>


<h3>Are you sure? </h3>

<div class="form-group">
    
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary" >Logout</button>
</div>


{% endblock %}