{% extends 'base.html' %}
{% block title %} Confirm {% endblock %}

{% block content %}

<h1>Confirm</h1>
<br/><br/>


<div class="form-group">
    
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-secondary" >Continue</button>
</div>


{% endblock %}