{% extends 'base.html' %}
{% block title %} Create a new blog category {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Add category</h1>
<br/><br/>

<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary" >Add</button>
</div>
{% endif %}


{% endblock %}