{% extends 'base.html' %}
{% block title %} Delete post {% endblock %}

{% block content %}

<h1>Delete Post</h1>
<br/><br/>
{% if user.is_authenticated %}
    <h3>Delete: {{ post.title }}</h3>

    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure?</strong><br/><br/>
        <button class="btn btn-danger" >Delete</button>
    </div>
{% else %}
You aren't allowed here!

{% endif %}


{% endblock %}