{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.category }} - {{ post.post_date }} <small>
            {% if user.is_authenticated %}
                - <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
                <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
            {% endif %}
        </small> <br/>
    {{ post.body|slice:":200"|safe }}</li>


{% endfor %}
</ul>

{% endblock %}