{% extends 'base.html' %}
{% block title %} Edit post {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Update Post</h1>
    <br/><br/>

    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" >Update</button>
    </div>
{% else %}

You aren't allowed here!

{% endif %}


{% endblock %}